/* css styles */

.title {
  margin-bottom: 0.2em; /* Reduce space after title */
}

.subtitle {
  margin-top: 0;       /* Reduce space before subtitle */
  font-size: 1.1em;     /* Optional: slightly smaller subtitle */
}